services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: mindmantra_root_pass
      MYSQL_DATABASE: mindmantra
      MYSQL_USER: mindmantra_user
      MYSQL_PASSWORD: mindmantra_pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
